<div fxFlex fxLayout="column">

  <div fxFlex fxLayout="row" fxLayoutAlign="center center">
    <app-input-datepicker-range fxFlex="90" style="margin-top: 10px; margin-bottom: -12px;" [appearance]="'outline'"
      [formGroup]="formFilter" [formcontrolnameStart]="'dtPeriodo1'" [formcontrolnameEnd]="'dtPeriodo2'"
      [label]="'Período'" (clear)="formFilter.get('dtPeriodo1').setValue(null)">
    </app-input-datepicker-range>
  </div>

  <div fxFlex fxLayout="row wrap" fxLayoutAlign="flex-start" class="content">
    <div fxFlex fxLayout="row wrap" *ngFor="let card of cards">
      <mat-card fxFlex class="card card-top mat-elevation-z0">
        <div class="card-header {{card?.color}} card-header-icon">
          <mat-icon class="card-icon">{{ card?.icon }}</mat-icon>
        </div>
        <div class="card-category">
          <h2 class="card-title">{{ card?.title }}</h2>
          <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="flex-end">
            <h3 class="card-subtitle">{{ card?.subTitle }}</h3>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div fxFlex fxLayout="row" fxLayout.lt-md="column" class="content" style="margin-top: 0px;">
    <mat-card fxFlex fxLayout="column" class="card mat-elevation-z0" style="height: 250px">
    </mat-card>

    <mat-card fxFlex fxLayout="column" class="card mat-elevation-z0" style="height: 250px">
    </mat-card>
  </div>

  <div fxFlex fxLayout="row" fxLayout.lt-md="column" class="content" style="margin-top: -5px !important;">
    <mat-card fxFlex fxLayout="column" class="card mat-elevation-z0" style="height: 250px">
    </mat-card>

    <mat-card fxFlex fxLayout="column" class="card mat-elevation-z0" style="height: 250px">
    </mat-card>
  </div>

</div>
