@import "src/app/shared/@decorators/scss/breakpoints";

:host {
    height: 100% !important;
}

:host ::ng-deep .mat-drawer {
    width: 800px !important;
    min-width: 800px !important;
    max-width: 800px !important;

        @include media-breakpoint('xs') {
            width: 100% !important;
            min-width: 100% !important;
            max-width: 100% !important;
        }
}